page{
	background: #f4f4f4;
	font-size: 25upx;
}
.content{
	margin-top: 50upx;
}
input{
	background: white;
	width: 90%;
	height: 100upx;
	padding-left: 30upx;
	margin: 5upx 5%;
}

button{
	width: 90%;
	margin: 50upx 5%;
	color: white;
	background: #CCCC33;
	border-radius: 10upx;
}
.uni-icon{
	position: relative;
	top:-75upx;
	left: 650upx;
	z-index: 5;
}
radio-group{
	background: white;
	width: 90%;
	height: 100upx;
	padding-left: 30upx;
	padding-top: 50upx;
	margin: 5upx 5%;
}
picker{
	background: white;
	width: 90%;
	height: 100upx;
	padding-left: 30upx;
	padding-top: 50upx;
	margin: 5upx 5%;
}
